<div class="contact-container">

  <h1>Contact Us</h1>
   <div class="contact-wrapper">

    <!-- 📩 Contact Form -->
    <div class="contact-form">
      <h2>Send Message</h2>
       <div class="contact-info">
      <h2>Get in Touch</h2>

      <p><strong>📍 Address:</strong> Nagpur, Maharashtra</p>
      <p><strong>📞 Phone:</strong> +91 9511898109</p>
      <p><strong>📧 Email:</strong> yourngo@gmail.com</p>

      <!-- WhatsApp -->
      <a 
        href="https://wa.me/919511898109" 
        target="_blank" 
        class="whatsapp-btn">
        💬 Chat on WhatsApp
      </a>
    </div>

      <!-- <form>
        <input type="text" placeholder="Your Name" required>
        <input type="email" placeholder="Your Email" required>
        <input type="text" placeholder="Subject">
        <textarea rows="5" placeholder="Your Message"></textarea>

        <button type="submit">Send Message</button>
      </form> -->
    </div>

    <!-- 📍 Contact Info -->
    
  </div>

</div>