<footer class="footer">

 

    <!-- NGO Info -->
    <!-- <div class="footer-container">
     <div class="footer-section">
      <h2>🌞 Shivam Solar NGO</h2>
      <p>
        Providing clean drinking water and solar-powered solutions
        to rural villages across India.
      </p>
    </div> -->

    <!-- Quick Links -->
   <!--  <div class="footer-section">
      <h3>Quick Links</h3>
      <ul>
        <li routerLink="/">Home</li>
        <li routerLink="/about">About</li>
        <li routerLink="/projects">Projects</li>
        <li routerLink="/donate">Donate</li>
        <li routerLink="/contact">Contact</li>
      </ul>
    </div> -->

    <!-- Contact -->
   <!--  <div class="footer-section">
      <h3>Contact Us</h3>
      <p>📍 Nagpur, India</p>
      <p>📞 +91 XXXXX XXXXX</p>
      <p>📧 your-email@gmail.com</p>
    </div> -->

    <!-- Support -->
    <!-- <div class="footer-section">
      <h3>Support Us</h3>
      <p>Donate to bring clean water to villages</p>
      <button routerLink="/donate">Donate Now</button>
    </div> 
     </div>
    -->

 

  <!-- Bottom -->
  <div class="footer-bottom">
    <p>© 2026 Shivam Solar NGO | All Rights Reserved</p>
  </div>

</footer>
    