*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

.container{
  width:min(1200px, 92%);
  margin:auto;
}

.topbar{
  background:#7a0d2d;
  color:#fff;
  padding:10px 0;
  font-size:14px;
}

.topbar-wrap{
  display:flex;
  justify-content:space-between;
  gap:20px;
  flex-wrap:wrap;
}

.left-info{
  display:flex;
  gap:25px;
  flex-wrap:wrap;
}

.navbar{
  background:#fff;
  box-shadow:0 2px 12px rgba(0,0,0,.08);
  position:sticky;
  top:0;
  z-index:1000;
}

.nav-wrap{
  height:80px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:relative;
}

.logo-box{
  display:flex;
  align-items:center;
  gap:12px;
}

.logo-box img{
  width:52px;
  height:52px;
  border-radius:50%;
  object-fit:cover;
}

.logo-box h2{
  font-size:24px;
  color:#7a0d2d;
}

.logo-box p{
  color:#777;
  font-size:13px;
}

.nav-links{
  display:flex;
  align-items:center;
  gap:28px;
  list-style:none;
}

.nav-links a{
  text-decoration:none;
  color:#222;
  font-weight:600;
}

.nav-links button{
  border:none;
  background:#b11f52;
  color:white;
  padding:12px 24px;
  border-radius:30px;
  cursor:pointer;
  font-weight:700;
}

.hamburger{
  display:none;
  font-size:30px;
  cursor:pointer;
}

/* tablet/mobile */
@media (max-width: 900px){

  .hamburger{
    display:block;
  }

  .nav-links{
    position:absolute;
    top:80px;
    left:0;
    width:100%;
    background:white;
    flex-direction:column;
    align-items:flex-start;
    gap:20px;
    padding:25px;
    box-shadow:0 8px 20px rgba(0,0,0,.1);
    display:none;
  }

  .nav-links.active{
    display:flex;
  }

  .topbar{
    display:none;
  }
}

@media (max-width:500px){
  .logo-box h2{
    font-size:18px;
  }

  .logo-box p{
    font-size:11px;
  }

  .logo-box img{
    width:42px;
    height:42px;
  }
}